/* @import url('./fonts/style.css'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "HelveticaNeue";
  src: url("./fonts/HelveticaNeue.ttf") format("truetype"),
    url("./fonts/HelveticaNeue.woff") format("woff");
}

@font-face {
  font-family: "HelveticaNeueBold";
  src: url("./fonts/HelveticaNeueBold.otf") format("opentype");
}

@font-face {
  font-family: "HelveticaNeueThin";
  src: url("./fonts/HelveticaNeueThin.otf") format("opentype");
}

@font-face {
  font-family: "HelveticaNeueLight";
  src: url("./fonts/HelveticaNeueLight.otf") format("opentype");
}

@font-face {
  font-family: "HelveticaNeueMedium";
  src: url("./fonts/HelveticaNeueMedium.otf") format("opentype"),
    url("./fonts/HelveticaNeueMedium.ttf") format("truetype");
}
